name: CI

on:
  push:
    branches: [main]
    paths:
      - 'cmd/**'
      - 'pkg/**'
      - 'test/**'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    paths:
      - 'cmd/**'
      - 'pkg/**'
      - 'test/**'
      - 'go.mod'
      - 'go.sum'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false

      - name: Run gofmt
        run: diff -u <(echo -n) <(gofmt -d -s $(find . -name '*.go' -not -path './vendor/*' | xargs -r dirname | sort -u))

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.9.0 # renovate: datasource=github-releases depName=golangci/golangci-lint
          args: --timeout 5m

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test -coverprofile=coverage.txt -v -race ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: fentas/b
